@import "partials/vars"
@import "partials/mixins"
+reset

*
	+box-sizing

html
	height: 100%
body
	height: 100%
	font-family: arial, sans-serif

	.ng-scope
		height: 100%
		width: 100%

	main
		height: 100%
		[class*="container-"]
			height: 100%

		#map
			height: 100%
			width: 100%
			background: url(../../images/bg/bg-map.png)
			position: relative
			display: table

			#svg-container
				width: 1013px
				height: 669px
				position: absolute
				top: 50%
				left: 50%
				margin: -334px 0 0 -506px

				path:hover 
					cursor: pointer

			#info-container
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				height: 40px

				.relative-container
					position: relative
					width: 100%
					height: 40px

					#loader-info
						display: none
						position: absolute
						top: 0
						left: 50%
						margin-left: -15px
						width: 30px
						height: 2px
						background: #FF9C00
						-webkit-animation: loading 1s infinite ease-in

					#left-part
						overflow: hidden
						position: absolute
						width: 0%
						height: 40px
						top: 0
						right: 50%
						border-top: solid 2px #FF9C00
						-webkit-transition: width 0.3s ease-out

						#region
							right: 30px

						#img-c
							position: absolute
							left: 0

							img
								width: 40px
								height: 40px

					#right-part
						overflow: hidden
						position: absolute
						left: 50%
						top: 0
						height: 40px
						width: 0% 
						border-top: solid 2px #FF9C00
						-webkit-transition: width 0.3s ease-out

						span
							position: absolute
							color: #FF9C00
							font-size: 24px
							padding-top: 10px

						#region
							left: 140px

						#status
							left: 340px



			.info-container-loading, .NaN
				#loader-info
					display: inline-block !important

				#loader-info
					display: inline-block !important


			.info-container-active

				.relative-container

					#left-part
						width: 50% !important
						-webkit-transition: width 0.3s ease-out

					#right-part
						width: 50% !important
						-webkit-transition: width 0.3s ease-out

		#loader
			width: 100%
			height: 4px
			position: fixed
			top: 0
			display: block
			z-index: 1000
	
			.loader-content
				width: 20%
				height: 4px
				left: -16%
				background: $mainColor
				position: absolute

		.tooltip
			color: #ffffff
			padding: 20px
			background: rgba(0,0,0,0.5)
			&:after
				content: ''
				width: 0
				height: 0
				position: absolute
				bottom: -5px
				left: 0
				border-style: solid
				border-width: 5px 5px 0 5px
				border-color: rgba(0,0,0,0.5) transparent transparent 

		.tooltip-map
			color: #ffffff
			padding: 10px
			background: rgba(0,0,0,0.5)

		.clear
			clear: both

	[class*="flash-"]
		width: 50%
		position: absolute
		top: 0
		left: 25%
		padding: 15px
		display: none
		text-align: center
	div.flash-errors
		background: $secondColor
		color: #ffffff

@-webkit-keyframes loading
	0%
		width: 50px
		margin-left: -25px
	50%
		width: 0px
		margin-left: 0
	100%
		width: 50px
		margin-left: -25px

