<section class="container-summoner">

	<div id="summoner-form">

		<aside role="note">
			<h1>
				
			</h1>
			<p>
				
			</p>
		</aside>

		<form ng-submit="getSummoner(summoner)">
			<input type="text" ng-model="summoner.name" id="summoner-name" placeholder="Nom d'invocateur">
			<button type="button" ng-click="getSummoner(summoner)"><i class="fa fa-arrow-circle-o-right"></i></button>
		</form>

	</div>

	<section id="summoner-history">
		<ul id="match-history">
			<h1>10 dernières Games</h1>
			<li ng-repeat="(key, game) in gamesResults.games" data-game="{{game.gameId}}" show-game>
				<div class="imgs">
					<img ng-src='http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{avatars.data[game.championId].image.full}}' width="48px" height="48px" class="animate-show champ" fade-in>
					<img ng-src='http://ddragon.leagueoflegends.com/cdn/5.2.1/img/spell/{{spells.data[game.spell1].image.full}}' width="24px" height="24px" class="animate-show spell" fade-in>
					<img ng-src='http://ddragon.leagueoflegends.com/cdn/5.2.1/img/spell/{{spells.data[game.spell2].image.full}}' width="24px" height="24px" class="animate-show spell" fade-in>
				</div>
				<div class="scoreAndItems">
					<p>{{game.stats.championsKilled}} / {{game.stats.numDeaths}} / {{game.stats.assists}}</p>
					<div>
						<p>{{game.stats.item0}} {{game.stats.item1}} {{game.stats.item2}}</p>
						<p>{{game.stats.item3}} {{game.stats.item4}} {{game.stats.item5}}</p>
					</div>
				</div>
				<!-- <p style="display: none;"><a href="">{{game.gameId}}</a></p> -->
				<!-- <p>{{game.subType}}</p> -->
				<div class="players">
					<ul>
						<li ng-repeat="player in game.fellowPlayers" ng-if="player.teamId == '100'">
							<p class="firstteam" >{{player.summonerId}}</p>
						</li>
						<li ng-repeat="player in game.fellowPlayers" ng-if="player.teamId == '200'">
							<p class="secondteam" >{{player.summonerId}}</p>
						</li>
					</ul>
				</div>
			</li>
		</ul>
<!-- 		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		SummonerGamesResults : 
		{{gamesResults}}
		<br>
		SummonerStatsResults : 
		{{statsResults}} -->
	</section>

	<section id="game" class="animate-show opacity-0">
		{{match}}
		<div id="map">
		</div>
	</section>

	<div id="loader">
	  	<div class="loader-content"></div>
	</div>
	
</section>
