<section class="container-summoner">

	<div id="summoner-form">

		<aside role="note">
			<h1>
				
			</h1>
			<p>
				
			</p>
		</aside>

		<form ng-submit="getSummoner(summoner)">
			<input type="text" ng-model="summoner.name" id="summoner-name" placeholder="Nom d'invocateur">
			<button type="button" ng-click="getSummoner(summoner)"><i class="fa fa-arrow-circle-o-right"></i></button>
		</form>

	</div>

	<section id="summoner-history">
		<ul id="match-history">
			<h1>10 dernières Games</h1>
			<li ng-repeat="(key, game) in gamesResults.games" data-game="{{game.gameId}}" show-game>
				<div class="imgs">
					<img ng-src='http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{avatars.data[game.championId].image.full}}' width="48px" height="48px" class="animate-show" fade-in>
					<img ng-src='http://ddragon.leagueoflegends.com/cdn/5.2.1/img/spell/{{spells.data[game.spell1].image.full}}' width="24px" height="24px" class="animate-show" fade-in>
					<img ng-src='http://ddragon.leagueoflegends.com/cdn/5.2.1/img/spell/{{spells.data[game.spell2].image.full}}' width="24px" height="24px" class="animate-show" fade-in>
				</div>
				<p>{{game.subType}}</p>
				<!-- <ul class="players">
					<li ng-repeat="player in game.fellowPlayers">

						<p>{{player.summonerId}}</p>
					</li>
				</ul> -->
			</li>
		</ul>
<!-- 		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		SummonerGamesResults : 
		{{gamesResults}}
		<br>
		SummonerStatsResults : 
		{{statsResults}} -->
	</section>

	<section id="game" class="animate-show opacity-0">
		{{match}}
		<div id="map">
		</div>
	</section>

	<div id="loader">
	  	<div class="loader-content"></div>
	</div>
	
</section>
